{{!< default}}

<div class="article-content">
    <div class="back-to-blog">
        <a href="{{@site.url}}">← Back to all posts</a>
    </div>
    
    <article class="article-header {{post_class}}">
        <h1 class="article-title">{{title}}</h1>
        <div class="article-meta">
            <strong>Published:</strong> {{date format="MMMM D, YYYY"}}
            {{#if primary_author}}
                • <strong>By:</strong> {{primary_author.name}}
            {{/if}}
            {{#if reading_time}}
                • <strong>Reading time:</strong> {{reading_time}} minutes
            {{/if}}
        </div>
        {{#if tags}}
            <div class="article-tags">
                {{#foreach tags}}
                    <span class="tag">{{name}}</span>
                {{/foreach}}
            </div>
        {{/if}}
    </article>
    
    <div class="article-body">
        {{#if feature_image}}
            <div class="article-image">
                <img src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                {{#if feature_image_caption}}
                    <div class="article-image-caption">{{feature_image_caption}}</div>
                {{/if}}
            </div>
        {{/if}}
        
        {{content}}
    </div>
    
    <div class="article-footer">
        {{#if primary_author}}
            <div class="author-info">
                <div class="author-name">{{primary_author.name}}</div>
                {{#if primary_author.bio}}
                    <div class="author-bio">{{primary_author.bio}}</div>
                {{/if}}
            </div>
        {{/if}}
        
        {{!-- Navigation to next/previous posts --}}
        <div class="navigation">
            {{#prev_post}}
                <div class="nav-link nav-prev">
                    <a href="{{url}}">{{title}}</a>
                </div>
            {{/prev_post}}
            {{#next_post}}
                <div class="nav-link nav-next">
                    <a href="{{url}}">{{title}}</a>
                </div>
            {{/next_post}}
        </div>
    </div>
</div>